@charset "ISO-8859-1";

.One{
	border:10px solid red ;
	align-items: center ;
	display: flex ;
	justify-content:space-around;
	padding:20px;
	margin-top:150px;
	width:500px;
	margin-left:500px;
	background-color:#d5e1df;
	
	
}
body{
	background-color: #92a8d1;
}


h1 {
     align-items: center ;
    color: blue;
    text-align: center ;
}